html {
  height: 100%;
  font-size: 16px;
}
body {
  height: 100%;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-size: .9rem;
}
.bg-light {
  background: #f8f8f8;
}
.nus-orange {
  color: #EF7C00;
}
.nus-blue {
  color: #003D7C;
}
.nus-orange-bg {
  background-color: #EF7C00;
}
.nus-blue-bg {
  background-color: #003D7C;
}
.nus-bg-dark {
  background-color: #003D7C;
}
.nus-text-primary {
  color: #003D7C;
}
.nus-text-secondary {
  color: #EF7C00;
}
h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
  font-size: 3.938rem;
}
h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
  font-size: 3.188rem;
}
h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
h5 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
.h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
.h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
.h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
.h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
.h5 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
.h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
a {
  color: #003D7C;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  &:hover {
    outline: none;
    text-decoration: none;
    color: #262626;
  }
  &:focus {
    outline: none;
    text-decoration: none;
    color: #262626;
  }
}
nav {
  a {
    color: #999;
    &:hover {
      color: #EF7C00;
    }
  }
}
.nus-quicklinks {
  a {
    color: #999;
  }
  height: 60px;
  position: relative;
  font-size: .9rem;
  ul.box {
    position: absolute;
    right: 15px;
    bottom: -1px;
    >li {
      margin: 0;
      padding-left: 30px;
      >a {
        text-decoration: none;
        background: transparent !important;
        &:hover {
          color: #ef7c00;
        }
        &:focus {
          color: #ef7c00;
        }
      }
    }
  }
}
.nav {
  .open {
    >a {
      background: transparent !important;
      border-color: transparent;
      &:hover {
        background: transparent !important;
        border-color: transparent;
      }
      &:focus {
        background: transparent !important;
        border-color: transparent;
      }
    }
  }
}
.faicon {
  font-family: "FontAwesome";
  color: #333;
}
.faicon.fa-mobile-menu {
  &:before {
    content: "\f0c9";
  }
}
.faicon.fa-address {
  &:before {
    content: "\f124";
  }
}
.faicon.fa-phone {
  &:before {
    content: "\f095";
  }
}
.faicon.fa-email {
  &:before {
    content: "\f0e0";
  }
}
.faicon.fa-search {
  &:before {
    content: "\f002";
  }
  color: #ef7c00;
}
.faicon.fa-location {
  &:before {
    content: "\f041";
  }
}
.faicon.fa-search.collapsed {
  color: #333;
}
.btn-primary {
  background: #ef7c00;
  border-color: #f60;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  &:hover {
    background: #ef7c00 !important;
    border-color: #f60 !important;
    box-shadow: 0 0 0 .1rem #f60;
  }
  &:focus {
    background: #ef7c00 !important;
    border-color: #f60 !important;
    box-shadow: 0 0 0 .1rem #f60;
  }
  &:active {
    background: #ef7c00 !important;
    border-color: #f60 !important;
    box-shadow: 0 0 0 .1rem #f60;
  }
  &:not(:disabled) {
    &:not(.disabled).active {
      color: #fff;
      background: #ef7c00 !important;
      border-color: #f60 !important;
      &:focus {
        box-shadow: none;
      }
    }
    &:not(.disabled) {
      &:active {
        color: #fff;
        background: #ef7c00 !important;
        border-color: #f60 !important;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
.btn-primary.focus {
  background: #ef7c00 !important;
  border-color: #f60 !important;
  box-shadow: 0 0 0 .1rem #f60;
}
.btn-primary.active {
  background: #ef7c00 !important;
  border-color: #f60 !important;
  box-shadow: 0 0 0 .1rem #f60;
}
.open {
  >.dropdown-toggle.btn-primary {
    background: #ef7c00 !important;
    border-color: #f60 !important;
    box-shadow: 0 0 0 .1rem #f60;
  }
  >.dropdown-toggle.btn-secondary {
    background: #003D7C !important;
    border-color: #002449 !important;
    box-shadow: 0 0 0 .1rem #002449;
  }
}
.show {
  >.btn-primary.dropdown-toggle {
    color: #fff;
    background: #ef7c00 !important;
    border-color: #f60 !important;
    &:focus {
      box-shadow: none;
    }
  }
  >.btn-secondary.dropdown-toggle {
    color: #fff;
    background: #003D7C !important;
    border-color: #002449 !important;
    &:focus {
      box-shadow: none;
    }
  }
}
.btn-secondary {
  background: #003D7C;
  border-color: #002449;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  &:hover {
    background: #003D7C !important;
    border-color: #002449 !important;
    box-shadow: 0 0 0 .1rem #002449;
  }
  &:focus {
    background: #003D7C !important;
    border-color: #002449 !important;
    box-shadow: 0 0 0 .1rem #002449;
  }
  &:active {
    background: #003D7C !important;
    border-color: #002449 !important;
    box-shadow: 0 0 0 .1rem #002449;
  }
  &:not(:disabled) {
    &:not(.disabled).active {
      color: #fff;
      background: #003D7C !important;
      border-color: #002449 !important;
      &:focus {
        box-shadow: none;
      }
    }
    &:not(.disabled) {
      &:active {
        color: #fff;
        background: #003D7C !important;
        border-color: #002449 !important;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
.btn-secondary.focus {
  background: #003D7C !important;
  border-color: #002449 !important;
  box-shadow: 0 0 0 .1rem #002449;
}
.btn-secondary.active {
  background: #003D7C !important;
  border-color: #002449 !important;
  box-shadow: 0 0 0 .1rem #002449;
}
.carousel-inner {
  >.item {
    border: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
  }
}
.nus-logo {
  .navbar-brand {
    height: 60px;
    padding: 0;
    margin: 0;
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }
  img {
    height: 60px;
  }
}
.nus-faculty-border {
  float: left;
  margin: 0 15px;
  border-left: 1.5pt solid #003D7C;
  width: 2px;
  height: 60px;
}
.nus-faculty-logo {
  float: left;
}
.nus-header {
  padding: 20px 0;
  background: #fff;
}
.nus-header.microsite {
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}
.nus-mobile-nav {
  padding: 5px 0;
  text-align: right;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      a {
        padding: 15px;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: #ef7c00;
        }
      }
    }
  }
}
nav.nus-main-nav {
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  height: 50px;
  .search-btn-box {
    margin: .9rem 0;
    a {
      height: 50px;
      width: 20px;
      padding: 15px;
      text-decoration: none;
      &:hover {
        color: #ef7c00;
        text-decoration: none;
      }
    }
  }
}
.nus-megamenu {
  .navbar-nav {
    >li {
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
      >a {
        padding-left: 0;
        padding-right: 0;
        color: #999;
        &:focus {
          box-shadow: 0 -3px 0 #ef7c00 inset;
          color: #000;
          background: transparent !important;
        }
      }
      &:hover {
        >a {
          box-shadow: 0 -3px 0 #ef7c00 inset;
          color: #000;
          background: transparent !important;
        }
      }
    }
    li.active {
      >a {
        box-shadow: 0 -3px 0 #ef7c00 inset;
        color: #003d7c;
        background: transparent !important;
      }
    }
    .caret {
      margin-left: 5px;
    }
  }
}
.navbar-nav {
  margin-top: 0;
  a {
    text-decoration: none;
  }
  >li {
    margin-left: 30px;
    padding: 0;
    &:first-child {
      margin-left: 0;
    }
    >a {
      padding-left: 0;
      padding-right: 0;
      color: #999;
      padding-bottom: 16px;
      margin-bottom: -5px;
      white-space: nowrap !important;
      &:focus {
        box-shadow: 0 -3px 0 #ef7c00 inset;
        color: #000;
        background: transparent !important;
      }
    }
    &:hover {
      >a {
        box-shadow: 0 -3px 0 #ef7c00 inset;
        color: #000;
        background: transparent !important;
      }
    }
  }
  li.active {
    >a {
      box-shadow: 0 -3px 0 #ef7c00 inset;
      color: #003d7c;
      background: transparent !important;
    }
  }
  .caret {
    margin-left: 5px;
  }
}
.dropdown-menu {
  padding: 0;
  padding: 15px;
  display: none;
  border-radius: 0;
  font-size: .9rem;
  margin: 0;
  >li {
    >a {
      display: block;
      padding: 10px;
      color: #003d7c;
      border-bottom: 1px solid #f5f5f5;
      white-space: nowrap !important;
    }
    &:first-child {
      >a {
        border-top: 1px solid #f5f5f5;
      }
    }
    &:hover {
      >a {
        background: #f5f5f5 !important;
        &:focus {
          background: #f5f5f5 !important;
        }
      }
    }
  }
  >a {
    &:hover {
      background: #f5f5f5 !important;
    }
    border-top: 1px solid #f5f5f5;
  }
}
.dropdown-submenu {
  a.dropdown-toggle {
    &:after {
      border-color: transparent transparent transparent #000;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      content: " ";
      display: block;
      float: right;
      height: 0;
      margin-right: -5px;
      margin-top: 5px;
      width: 0;
    }
  }
  .dropdown-menu {
    left: 100%;
    margin-left: 0;
    top: 0;
    border-radius: 0;
  }
}
.dropdown-item {
  font-size: .9rem;
  display: block;
  padding: 10px;
  color: #003d7c;
  border-bottom: 1px solid #f5f5f5;
}
.dropdown {
  &:hover {
    >.dropdown-menu {
      display: block;
    }
  }
}
.mega-menu {
  left: 0;
  position: fixed !important;
  margin: 10px 0 0;
  width: 100%;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  border: none;
  padding: 30px !important;
  a {
    &:hover {
      text-decoration: none;
      color: #ef7c00 !important;
    }
  }
  >li {
    float: none;
    display: block;
    li {
      padding: 3px 0;
      &:before {
        font-family: 'FontAwesome';
        content: "\f0da";
        margin: 0 5px 0 -13px;
        color: #ef7c00;
      }
    }
    li.title {
      &:before {
        font-family: 'FontAwesome';
        content: "\f054";
      }
      a {
        font-weight: 700 !important;
        color: #003d7c;
        text-transform: uppercase;
      }
    }
    strong {
      text-transform: uppercase;
      color: #003062;
      margin-bottom: 5px;
      display: block;
    }
  }
  ul {
    padding: 0 0 0 15px;
    list-style: none;
  }
}
.nus-sidebar-off-canvas {
  height: auto;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  .offcanvas-header {
    background: #eee;
    padding: 5px 15px;
  }
  .header {
    .offcanvas-title {
      margin: 0;
      font-size: .9rem;
      line-height: 35px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .body {
    h3.title {
      color: #333;
      margin: 0 0 10px;
      font-size: 1.1rem;
    }
    color: #003d7c;
    li {
      border-bottom: 1px solid #eee;
    }
    .btn-toggle {
      display: inline-flex;
      align-items: center;
      padding: 3px 0;
      color: transparent;
      border-radius: 0;
      box-shadow: none;
    }
    .nus-module {
      .mnu-lvl-1 {
        font-size: .9rem;
        font-weight: 500;
        color: #003d7c;
        text-align: left;
        border-radius: 0;
        box-shadow: none;
        &:hover {
          background: #eee;
          color: #262626;
        }
        &:focus {
          background: #eee;
          color: #262626;
        }
      }
      .btn-toggle {
        &::after {
          width: 1em;
          margin-left: 0 12px;
          line-height: 0;
          font-family: 'FontAwesome';
          content: "\f0da";
          color: #003d7c;
          font-weight: 500;
          font-size: .9rem;
          transition: transform .35s ease;
          transform-origin: .5em 50%;
        }
      }
      .btn-toggle[aria-expanded="true"] {
        &::after {
          transform: rotate(90deg);
          color: #262626;
        }
      }
      .btn-toggle-nav {
        a {
          display: inline-flex;
          padding: 15px 35px;
          margin-top: 0;
          text-decoration: none;
          color: #003d7c;
          max-width: 100%;
          width: 100% !important;
          font-size: .9rem;
          background: #f6f6f6;
          &:hover {
            boder: 0;
            background-color: #f6f6f6;
            color: #EF7C00;
          }
          &:focus {
            boder: 0;
            background-color: #f6f6f6;
            color: #EF7C00;
          }
        }
      }
    }
  }
}
.nus-sidebar-nav {
  margin-bottom: 20px;
  margin-bottom: 20px;
  li {
    + {
      li {
        margin-top: 0;
        margin-top: 0;
      }
    }
    a {
      display: block;
      color: #003d7c;
      border-bottom: 1px solid #eee;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      &:hover {
        color: #000;
      }
    }
  }
  li.active {
    a {
      background: none repeat scroll 0 0 #003d7c;
      color: #fff;
    }
  }
}
.nav-pills {
  .nav-link.active {
    background: none repeat scroll 0 0 #003d7c;
    color: #fff;
    &:hover {
      background: none repeat scroll 0 0 #337ab7 !important;
      color: #fff !important;
    }
  }
  .show {
    >.nav-link {
      background: none repeat scroll 0 0 #003d7c;
      color: #fff;
    }
  }
  .nav-link {
    display: block;
    color: #003d7c;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    &:hover {
      color: #000;
      background: #f8f8f8;
    }
  }
}
.nus-search-box {
  position: relative;
  background: #f8f8f8;
  .container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  input[type="text"] {
    padding-left: 40px;
    width: 100%;
    height: 45px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  .icon {
    position: absolute;
    top: 33px;
    left: 30px;
    color: #ccc;
  }
}
.nus-search-box.collapse.in {
  border-bottom: 1px solid #e7e7e7;
}
.nus-breadcrumbs {
  background: #002449;
  border-top: 1px solid #003d7c;
  padding: 13px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    >li {
      display: inline-block;
      color: #999;
      margin-right: 5px;
      .icon {
        padding-right: 10px;
        color: #ef7c00;
      }
      a {
        color: #555;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
      + {
        li {
          &:before {
            content: " / ";
            margin-right: 5px;
          }
        }
      }
    }
  }
}
.nus-department-header.mobile {
  display: none;
}
.nus-department-header {
  .blue {
    background: #003d7c;
    color: #fff;
    border-bottom: 1px solid #0056af;
  }
  .grey {
    background: #999;
    border-bottom: 1px solid #b3b3b3;
    color: #fff;
  }
  .orange {
    background: #ef7c00;
    border-bottom: 1px solid #ff9523;
    color: #fff;
  }
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 2rem;
    margin: 0;
  }
}
.nus-footer {
  background: #003062;
  border-top: 1px solid #003d7c;
  color: #999;
  font-weight: 300;
  a {
    color: #999;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .wrapper {
    padding: 120px 0;
  }
  .footnav-alt {
    margin-top: 43px;
  }
  .navigator {
    ul {
      li {
        list-style: none;
        line-height: 24px;
      }
    }
    .title {
      margin-top: 0;
      color: #fff;
      font-size: 1.1rem;
    }
  }
  .nus-social-box {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border: none;
    padding: 0;
    .footnav-alt {
      margin-top: 40px;
    }
    ul {
      li {
        padding-left: 30px;
      }
    }
  }
  .nus-contact-us {
    display: inline-block;
    text-align: left;
  }
  ul.nus-contact-us {
    li {
      position: relative;
    }
    .icon {
      display: block;
      position: absolute;
      left: 0;
      color: #fff;
      top: 2px;
    }
  }
  .copyright {
    border-top: 1px solid #003d7c;
    color: #999;
    padding: 40px 10px;
    text-align: center;
    font-size: .8rem;
    .info {
      margin-bottom: 7px;
    }
  }
  .nav-copyright {
    >li {
      display: inline-block;
    }
    >li.bullet {
      &:before {
        content: '\2022';
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}
.glyphicon {
  .glyphicon-home {
    &:before {
      content: "\f124";
    }
  }
}
@media screen and (max-width:991px) {
  .nus-logo {
    float: left;
    .navbar-brand {
      height: 35px;
      padding: 1px 10px 0 0;
      -moz-transition-property: none;
      -webkit-transition-property: none;
      -o-transition-property: none;
      transition-property: none;
    }
    img {
      height: 35px;
    }
  }
  .nus-faculty-border {
    display: none;
  }
  .nus-faculty-logo {
    display: none;
  }
  .nus-header {
    padding: 9px 0;
    background: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    height: 54px;
  }
  .nus-quicklinks {
    display: none;
  }
  .nus-department-header.mobile {
    display: block;
  }
  .nus-department-header {
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    h2 {
      text-align: center;
      font-size: 1.6rem;
    }
  }
  .nus-footer {
    .wrapper {
      padding: 40px 0;
    }
    .nus-social-box {
      padding: 0 10px;
      border: 0;
      text-align: center;
    }
    ul.nus-contact-us {
      .icon {
        display: inline;
        top: 0;
        padding-right: 15px;
      }
    }
    .copyright {
      padding-left: 0;
      padding-right: 0;
    }
    .nav-copyright {
      >li.bullet {
        &:before {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}
@media screen and (max-width:1200px) {
  .nus-quicklinks {
    ul.box {
      >li {
        padding: 10px;
      }
    }
  }
}
@media print {
  .nus-header {
    display: none;
  }
  .nus-breadcrumbs {
    display: none;
  }
  .nus-footer {
    display: none;
  }
}
